body{
    background: rgb(248, 209, 209);
    margin-left: 30px;
    margin-right: 400px;
}



.img_padrao{
    margin-bottom: 20px;
    width: 300px;
}

header{
    margin-top: 70px;
}

h1{
    color: red;
    font-family: fantasy;
}

h2{
    font-family: fantasy;
}

p{
    font-size: 18px;
}